{{- if .Values.config.customConfig }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "katago-server.fullname" . }}-config
  labels:
    {{- include "katago-server.labels" . | nindent 4 }}
data:
  config.toml: |
    {{- .Values.config.customConfig | nindent 4 }}
{{- end }}
